/* Generales */
a, h1, h2, h3, h4, h5, h6, p{
    font-family: "Poppins", sans-serif;
}
.nav-list li{
    list-style: none;
}


.header-inicio{
    background-image: url("../assets/bg-2.png");
    background-repeat: no-repeat;
}
/* colores de fondo */
.bg-azul-oscuro{
    background-color: #176B87;
}
.bg-celeste{
    background-color: #EEF5FF;
}

/* colores de de texto*/
.txt-black{
    color: rgb(61, 61, 61) !important;
}
.txt-azul-oscuro{
    color: #176B87;
}
.txt-celeste{
    color: #86B6F6;
} 

/* botones */
.btn-celeste{

}

img{
    object-fit: cover;
    background-repeat: none;
}

/* nav bar*/

.links a {
    position: relative;
    margin: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 0px;
}
.links a::after{
    content: "";
    position: absolute;
    background-color: #176B87;
    height: 2px;
    width: 0px;
    left: 0px;
    bottom: -2px;
    transition: 0.3s;

}

.links a:hover::after{
    width: 100%;
}

/* estilos admin */

.body-admin{
    display: grid;
    grid-template-columns: auto 1fr;
}
.side{
    width: 250px;
    height: 100vh;
}
.admin-link a{
    display: inline-block; 
    transition: all 0.1s ease;
    transform-origin: left;
  
}
.admin-link a:hover {

        transform: scale(1.1) ;
        color: #115c75;
    
}
.login-container {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    border: solid #176B87 4px;
    text-align: center;
    
}

.blog-header {
    background: url('/assets/bg-1.png');
    background-repeat: no-repeat;
}

.blog-tab a:hover {
    color: #176B87;
    font-weight: bold
}